* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
section{
    width: 33.33%;
    float:left;
}
article{
    position: relative;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #EEE;
}
h2{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
}
p{
    margin: 35px 5px 5px 5px;
}
#chicken{
    background-color: yellow;
}
#beef{
    background-color: blue;
}
#pork{
    background-color: pink;
}