.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
  }

.button-basic {
  background-color: white; 
  color: black; 
  border: 2px solid #8BA888;
}

.button-basic:hover {
  background-color: #8BA888;
  color: white;
}

.button-table {
  background-color: white; 
  color: black; 
  border: 2px solid #49654E;
}

.button-table:hover {
  background-color: #49654E;
  color: white;
}

.button-designlayout {
  background-color: white; 
  color: black; 
  border: 2px solid #253528;
}

.button-designlayout:hover {
  background-color: #253528;
  color: white;
}
  