*{
    font: Abril Farface;
    color:#214b7d;
}

#head{   
    position: sticky;  
    top: 0px; 
    background-color:#ECEDE8; 
    font-size: 20px;
    box-sizing: border-box;
}

#head h1{
    left: 0%;
    display: inline;

}

form{  
    background:#ECEDE8; 
    right: 0px;  
    position: sticky;  
    top: 12px;
    float: right;
    margin-left: 500px; 
  }  

input[type=text] {    
    top: 12px;  
    right: 0%;   
    padding: 15px;
    font-size: 17px;  
    border: none;
    background:#ECEDE8  
    }  

.searchbox button {   
    top: 12px; 
    right: 0%;  
    background:#ECEDE8;  
    font-size: 20px;  
    border: none;  
    cursor: pointer;
     
    }  

.searchbox button:hover {  
    background: #8BA888;  
    }  


.dropbtn {
    background-color: #8BA888;
    color: white;
    padding: 16px;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    }
      

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    }
      
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C0CFB2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 200px; 
    }
.dropdown-content a:hover {
    background-color: #8BA888;
    }

.dropdown:hover .dropdown-content {
    display: block;
    }

.dropdown:hover .dropbtn {
    background-color:#49654E;
    }
      
      
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

.dropbtn_1 {
    background-color: #8BA888;
    color: white;
    padding: 16px ;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    }
      

.dropdown_1 {
    position: relative;
    display: inline-block;
    }
      
.dropdown-content_1 {
    display: none;
    position: absolute;
    background-color: #C0CFB2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 200px;
    }

.dropdown-content_1 a:hover {
    background-color: #8BA888;
    }

.dropdown_1:hover .dropdown-content_1 {
    display: block;
    }

.dropdown_1:hover .dropbtn_1 {
    background-color:#49654E;
    }   
      
.dropdown-content_1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

.dropbtn_2 {
    background-color: #8BA888;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-left: 200px;
    margin-top: 20px;
    }

.dropdown_2 {
    position: relative;
    display: inline-block;
    }

.dropdown_2:hover .dropbtn_2 {
    background-color:#49654E;
    }   

.dropbtn_3 {
    background-color: #8BA888;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-left: 200px;
    margin-top: 20px;
    list-style: none;
    }
    
.dropdown_3 {
    position: relative;
    display: inline-block;
    list-style: none;
    }
    
.dropdown_3:hover .dropbtn_3 {
    background-color:#49654E;
    list-style: none;
    }   

